@using RollMaster.Core.Views.Layout
@using Systems.WorldOfDarkness.Views.Components
@layout MainLayout

<div class="grid-left">
    <aside>
        <ul>
            <li><a>Attributes</a></li>
            <li><a>Skills</a></li>
        </ul>
    </aside>
</div>
<div class="grid-main">
    <main class="container">
        <VampireCharacterSheet Model=@(Model as VampireCharacterSheetModel) />
        <button>Create</button>
    </main>
    
</div>

@code {
    [Parameter] public ICharacterSheetModel Model { get; set; }
}