@using RollMaster.Core.Views.Layout
@layout MainLayout

<div class="grid-left">
    <aside>
        <ul>
            <li><a>Attributes</a></li>
            <li><a>Skills</a></li>
        </ul>
    </aside>
</div>
<div class="grid-main">
    <main class="container">
        <h4>World of Darkness character creation</h4>
    </main>
</div>

@code {

}