@using RollMaster.Core.Views.Layout
@using Systems.WorldOfDarkness.Views.Components
@layout MainLayout

<div class="grid-left">
    <aside>
        <ul>
            <li><a>Attributes</a></li>
            <li><a>Skills</a></li>
        </ul>
    </aside>
</div>
<div class="grid-main">
    <main class="container">
        <form hx-post="/wod-v5/new-character" hx-ext="json-enc">
            <VampireCharacterSheet Model=@(Model as VampireCharacterSheetModel)/>
            <button type="submit">Create</button>
        </form>
    </main>
    
</div>

@code {
    [Parameter] public ICharacterSheetModel Model { get; set; }
}